{% extends "base.html" %}
{% block content %}
<!-- Post -->
											<!-- About: Post -->
						<!-- TODO: Fill with about info-->
						<!-- TODO: Copy section with FAQs -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">About</a></h2>
										<p>This website.</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">May 28, 2016</time>
										<a href="#" class="author"><span class="name">Crepe</span><img src="../static/images/avatar.jpg" alt="" /></a>
									</div>
								</header>

								<p>I am a software developer.</p>

							</article>


						<!-- FAQ: Post -->
						<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">FAQs</a></h2>
										<p>For the curious.</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">May 28, 2016</time>
										<a href="#" class="author"><span class="name">Crepe</span><img src="../static/images/avatar.jpg" alt="" /></a>
									</div>
								</header>

								<p><b>Don't you know there is no such thing as a Fatal Attribution Error?</b> Yes, I do. The name is inspired by Fundamental Attribution Error, a social psychology concept first studied in the late sixties. The idea is that people attribute most of a person's behaviour to their personality, largely ignoring relevant situational factors. Why did Susie yell at Janie? Not because Janie sorely provoked her, but because she is an angry person. This concept interests me, because there are so many ways to look at individual people. And we get to choose what we attribute.</p>

								<p><b>That's nice, but you went with Fatal instead of Fundamental because...?</b> .</p>

							</article>


{% endblock %}


{% block sidebar %}
    <!-- Posts List -->

{% endblock %}