{% extends "base.html" %}
{% block content %}
<!-- Post -->
						<!-- About: Post -->
						<!-- TODO: Fill with about info-->
							<article class="post">
								<header>
									<div class="title">
										<h2>About</h2>
										<p>Me.</p>
									</div>
									<div class="meta">

									</div>
								</header>

								<p>I'm  Denise. I like to do things- develop software, read fantasy novels, play board games, and compete in petty competitions (ping pong, video games, basketball, it's the best). I also like to create things, and made this website as a platform to organize and display the things I make, write about things I learn and ideas. Like a bulletin board</p>
								<p></p>
							</article>

							<article class="post">
								<header>
									<div class="title">
										<h2>About</h2>
										<p>This website.</p>
									</div>
									<div class="meta">

									</div>
								</header>

								<p>This website is made with love, python and the obvious stuff (html, css, javascript). But mostly python.</p>
								<p></p>
								<p>If you are looking to create a website, and want [unsolicited] advice, i'd tell you to use <a href="http://flask.pocoo.org/">Flask</a> as your framework because it is manageable, small, and has great tutorials. The html template I used is from <a href ="https://html5up.net/">HTML5 UP</a>. Just don't use emacs. Friends don't let friends use emacs (or wear rain ponchos).</p>

							</article>


						<!-- FAQ: Post -->
						<article class="post">
								<header>
									<div class="title">
										<h2>Q & A</h2>
										<p>For the curious.</p>
									</div>
									<div class="meta">

									</div>
								</header>

								<p><b>Don't you know there is no such thing as a Fatal Attribution Error?</b> Yes, I do. The name is inspired by Fundamental Attribution Error, a social psychology concept first studied in the late sixties. The idea is that people attribute most of a person's behaviour to their personality, largely ignoring relevant situational factors. Why did Susie yell at Janie? Not because Janie sorely provoked her, but because she is an angry person. This concept interests me, because there are so many ways to look at individual people. And we get to choose what we attribute. I went with "Fatal" instead of "Fundamental" because when I learned the term, I mixed up the words and called said "Fatal" instead. No one ever called me out on it though.</p>

								<p><b></b> </p>

							</article>


{% endblock %}
