{% extends "base.html" %}
{% block content %}
<!-- Post -->
							<!-- List five most recent blog post -->

							<article class="post">
								<header>
									<div class="title">
										<h2>Some blog post</h2>
										<p>This website.</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">May 28, 2016</time>
										<a href="#" class="author"><span class="name">Crepe</span><img src="../static/images/avatar.jpg" alt="" /></a>
									</div>
								</header>

								<p>I am a software developer.</p>

							</article>


{% endblock %}


{% block sidebar %}
    <!-- Posts List -->

{% endblock %}