{% extends "comment.html" %}
{% block content %}
<article class="post">
								<header>
									<div class="title">
										<h2>{{ blog_post.title }}</h2>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">May 28, 2016</time>
										<a href="#" class="author"><span class="name">Denise</span></a>
									</div>
								</header>

								<p>{{ blog_post.content }}</p>

								{% for comment in comments %}
									<div>
										<p>{{ comment.author }}</p>
										<p>{{ comment.text }}</p>
									</div>
								{% endfor %}
							</article>


{% endblock %}


{% block sidebar %}
    <!-- Posts List -->

{% endblock %}