{% extends "base.html" %}
{% block content %}
<!-- Post -->
							<!-- List five most recent blog post -->


							{% for blog in main_blog %}

							<article class="post">
								<header>
									<div class="title">
										<h2><a href="blog_post/{{ blog.name_no_spaces }}">{{ blog.title }}</a></h2>
										<!-- I dont think I want this tagline -->
                                        <!-- <p>Tagline for project</p> -->
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{ blog.date_string }}</time>
									</div>
								</header>
                                <!-- I dont think I want the picture -->
								<!--<a href="#" class="image featured"><img src="../static/images/pic01.jpg" alt="" /></a> -->

                                <!-- Write a short descriptino here -->
                                <p>{{ blog.short_description }}</p>
								<footer>
									<ul class="stats">
                                        <!-- TODO Implement tags and list them here -->
										<!--<li><a href="#"></a></li>-->
									</ul>
								</footer>
							</article>

                        {% endfor %}


							<!--<article class="post">
								<header>
									<div class="title">
										<h2>Some blog post</h2>
										<p>This website.</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">May 28, 2016</time>
										<a href="#" class="author"><img src="../static/images/avatar.jpg" alt="" /></a>
									</div>
								</header>

								<p>I am a software developer.</p>

							</article>-->


{% endblock %}
