{% extends "base.html" %}
{% block content %}
<!-- Post -->
                        {% for code_project in code_projects %}

							<article class="post">
								<header>
									<div class="title">
										<h2><a href="/code_project/{{ code_project.name_no_spaces }}">{{ code_project.name }}</a></h2>
										<!-- I dont think I want this tagline -->
                                        <!-- <p>Tagline for project</p> -->
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{ code_project.date_string }}</time>
									</div>
								</header>
                                <!-- I dont think I want the picture -->
								<!--<a href="#" class="image featured"><img src="../static/images/pic01.jpg" alt="" /></a> -->

                                <!-- Write a short descriptino here -->
                                <p>{{ code_project.short_description }}</p>
								<footer>
									<ul class="actions">
										<li><a href="{{ code_project.download_link }}" class="button big">Try {{ code_project.name }}</a></li>
                                        <li><a href="{{ code_project.github_link }}" class="button big">Go to Github Page</a></li>
									</ul>
									<ul class="stats">
                                        <!-- TODO Implement tags and list them here -->
										<!--<li><a href="#"></a></li>-->
									</ul>
								</footer>
							</article>

                        {% endfor %}

						<!-- Pagination -->
							<ul class="actions pagination">
                                <!--
                                    {% if code_projects.has_prev %}<a href="{{ url_for('code_projects_list', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>{% else %}&lt;&lt; Newer posts{% endif %} |
                                    {% if code_projects.has_next %}<a href="{{ url_for('code_projects_list', page=posts.next_num) }}">Older posts &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
                                -->
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>
{% endblock %}
